<<<<<<< HEAD
@CHARSET "UTF-8";
/* Aidan ODonnell */
.time_outer {
	border: 5px solid black;
}

.time_inner {
	float: left;
	border: 3px solid red;
	margin: 5px;
	padding: 3px;
=======
<!-- Taylor McLaughlin and Aid ODonnell -->
@charset "utf-8";

.movie {
	max-width: 300px;
	max-height: 500px;
}

img.movie {
	width: 300px;
	height: 500px;
	
>>>>>>> branch 'master' of https://github.com/taylorcuber717/CinemaShop.git
}